
/**************************************/
/*** Below 1232px: Small Laptops **/
/*************************************/

@media(max-width:77em) {
    .text-header {
        font-size:3.8rem;
    }

    .container {
        max-width:110rem;
    }

    .testimonial-images {
        grid-template-columns:1fr 1fr;
    }
}

/**************************************/
/*** Below 1184px: Landscape Tablets **/
/*************************************/


@media(max-width:74em) {
    html {
        font-size:50%;
    }

    .feature-row-icons,
    .footer-box {
        column-gap:7.5rem;
    }

    .meals-list {
        column-gap:4.5rem;
    }

    .testimonial-author {
        padding:2.5rem;
    }
}

/**************************************/
/*** Below 930px:Tablets **/
/*************************************/

@media(max-width:58em) {
    html {
        font-size:43.75%;
    }

    .section-hero .container{
       display:block;
       text-align: center;
    }

    .btn:link,
    .btn:visited {
        margin-bottom:2rem;
    }


    .customer-hero {
        justify-content: center;
        margin-bottom:4.5rem;
    }

    .img-hero {
        max-width:50%;
    }

    .how-works-number {
        font-size:4.5rem;
    }

    .testimonial-section {
         grid-template-columns:1fr;
    }

    .testimonial-authours {
        margin-bottom:2.5rem;
    }

    .testimonial-images {
        grid-template-columns:repeat(6,1fr);
        /* grid-template-rows:repeat(2,1fr) */
    }

    .cta-form {
        grid-template-columns:1fr;
    }

    .cta-box{
        display:grid;
        grid-template-columns:60fr 40fr;
    } 

    .meals-card-body{
        padding:1rem 2rem 3rem 2.5rem;
    }

    /**
        Original State
    **/

    .header-links{
        opacity:0;
        transform:translateX(100%);  
        width:100%;
        height:100vh;  
        position:absolute;
        top:0;
        left:0;
        background-color: rgba(255, 255, 255, 0.959);
 
        display:flex;
        justify-content: center;
        transition:all 0.5s ease-in;
    }

    .nav-links {
        flex-direction: column;
        gap:2.5rem;
        justify-content:space-between;
        height:70%;
        margin:auto 0;
    }

    .nav-link:link {
        font-size:3.5rem;
    }

    body {
        position: relative;
    }
    
    .btn-mobile,
    .btn-mobile-nav[name=menu-outline] {
        display: block;
        z-index:1000
    }

    /***
       When user click the menu
    **/

    .nav-open .header-links {
       opacity:1;
       transform: translateX(0);
    }
    
    .nav-open .btn-mobile-nav[name=menu-outline] {
        display: none;
    }

    .nav-open .btn-mobile-nav[name=close-outline] {
        display: block;
    }

    

   


}

/**************************/
/*** 720px Small Tablets ***/
/**************************/

@media(max-width:45em) {
    .grid-3-column,
    .grid-4-column,
    .meals-list {
        grid-template-columns: repeat(2,1fr);
        row-gap:4.5rem;
    }

    .meals-list .meals-card:first-child {
        justify-self: end;
    }

    .meals-list .meals-diet{
        grid-column: 1 / -1;
        justify-self: center;
    }

    .testimonial-images {
        grid-template-columns: repeat(6,1fr);
        row-gap:2.5rem;
    }

    .pricing-offer {
        margin-bottom:8rem;
    }

    .footer-box {
        grid-template-columns:repeat(6,1fr);
        row-gap:6.5rem;
    }

    .footer-box div:not(:nth-child(1),:nth-child(2)) {
        grid-column:span 2;
    }

    .footer-box div:nth-child(1),
    .footer-box div:nth-child(2) {
        grid-row:2;
        grid-column:span 3;
    }

    .footer-links a{
        font-size:1.5rem;
    }

    .footer-logo {
        width:50%;
    }
}

/**************************/
/*** 528px Small Tablets ***/
/**************************/

@media(max-width:33em) {
    .grid-2-column,
    .grid-3-column,
    .grid-4-column {
        grid-template-columns:1fr;
    }


    .nav-section {
        padding-bottom:0;
    }


    .section-hero {
        padding-bottom:6.5rem;
        margin-bottom:7rem;
    }

    .btn:link,
    .btn-visited {
        padding:2rem 2.5rem;
        font-size:2rem;
    }

    .featured-logo {
        height:1.5rem;
    }

    .how-works .how-works-img-container:nth-child(2) {
        grid-row:1;
    }

    .how-works .how-works-img-container:nth-child(6) {
        grid-row:5;
    }

    .how-works-img{
        width:30%;
        height:30%;
    }


    .how-works-img-container::before
    {
        width:60%;
        height:60%;
    }

    .how-works-img-container::after
    {
        width:40%;
        height:40%;
    }

    .how-works {
        row-gap:6rem;
    }

    .how-works-img-container {
        transform:translateY(3rem);
    }

    .how-works-number {
        font-size:5.5rem;
    }

    .meals-list {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .meals-list .meals-card:first-child {
        justify-self: center;
    }

    .testimonial-authours {
        grid-template-columns: 1fr;
    }

    .testimonial-images {
        grid-template-columns: repeat(4,1fr);
    }

    .pricing-cards {
        grid-template-columns:1fr;
        row-gap:2.5rem;
    }

    .pricing-card,
    .pricing-card.pricing-card-special{
        justify-self: center;
    }

    .cta-box {
        grid-template-columns: 1fr;
    }

    .cta-img {
        height:45rem;
        grid-row: 1;
        background-size: cover;
    }

}







